@model InstaLearn.ViewModel.CourseViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>


<div class="panel panel-info">
    <div class="container">
        <dl class="dl-horizontal">
            <h3>@Html.DisplayFor(m => m.Title) </h3>

            <br />

            <dt>Course Category</dt>
            <dd>@Html.DisplayFor(model => model.CourseCategory)</dd>

            <br />

            <dt>Date Created </dt>
            <dd>@Html.DisplayFor(model => model.DateCreated) </dd>

            <br />

            <dt>End Date </dt>
            <dd>@Html.DisplayFor(m => m.EndDate) </dd>
        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Back to Courses", "Index", "AllCourses");
</p>