@model InstaLearn.ViewModel.CourseViewModel

@{
    ViewBag.Title = "Publish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Publish Course</h2>

<h4 class="alert alert-info">Do you want to publish this course now?</h4>
<hr />

<div class="panel panel-info">
    <div class="container">

        <dl class="dl-horizontal">
            <h3>@Html.DisplayFor(m => m.Title) </h3>

            <br />

            <dt>Course Category</dt>
            <dd>@Html.DisplayFor(model => model.CourseCategory)</dd>

            <br />

            <dt>Date Created </dt>
            <dd>@Html.DisplayFor(model => model.DateCreated) </dd>

            <br />

            <dt>End Date </dt>
            <dd>@Html.DisplayFor(m => m.EndDate) </dd>
        </dl>
    </div>
</div>

    @using (Html.BeginForm("Publish", "Course"))
    {
        <button type="submit" class="btn btn-info">Publish</button>
    }
<br />

<p>
    @Html.ActionLink("Back to List", "Index")
</p>